#connections_list
  .music_my_tracks
    - for follow in @follows do
      - opposite_user = follow.opposite_user_of(@user)
      .tracks_row
        .col07
          - if opposite_user.picture?  
            = image_tag(opposite_user.picture.url(:thumb_bw), :class => :thumb_pic_bw)
            = image_tag(opposite_user.picture.url(:thumb), :class => :thumb_pic)
          - else
            = image_tag('http://dummyimage.com/48x48/091417/fff.png&text=No+profile+picture')
        .col08
          %strong= link_to opposite_user.name, opposite_user
        .col09
          - if @user.following?(opposite_user) && opposite_user.following?(@user)
            %span Connected
          - elsif(@user.following?(opposite_user))
            - if @user == current_user 
              %span== You follow #{opposite_user.name} 
            - else
              %span== #{@user.name} follows #{opposite_user.name}
          - else
            - if @user == current_user 
              %span== You are followed by #{opposite_user.name}
            - else
              %span== #{@user.name} is followed by #{opposite_user.name}
        .col10
          %a{:href => "#"}
            - if @user.following?(opposite_user) 
              - if @user == current_user 
                = link_to image_tag('icons/following.gif'), user_connection_path(:user_id => current_user.id, :id => opposite_user.id, :from => 'connections'), :method => :delete, :remote => true
              - else
                = image_tag('icons/following.gif')
            - else
              - if @user == current_user
                = link_to image_tag('icons/not_following.gif'), user_connections_path(:user_id => current_user.id, :id => opposite_user.id, :from => 'connections'), :method => :post, :remote => true
              - else
                = image_tag('icons/not_following.gif')
        .col11
          %a{:href => "#"}
            = @user.followed_by?(opposite_user) ? image_tag('icons/follows.gif') : image_tag('icons/not_following.gif')
