#left_container
  .library
    %h3.koblo
      %img.png{:alt => "", :src => "/images/my_koblo.png"}/
    %ul
      %li
        %a{:href => "#"} Latest
      %li
        %a{:href => "#"} My Tracks
      %li
        %a{:href => "#"} Connections
        %ul
          %li
            %a{:href => "#"} Following (645)
          %li
            %a{:href => "#"} Followers (1078)
    %h3.head &nbsp;
    %ul
      %li
        %a{:href => "#"} Edit Profile
      %li
        %a{:href => "#"} Account settings
      %li &nbsp;
      %li &nbsp;
      %li &nbsp;
      %li &nbsp;
    %h3.head &nbsp;
#right_container
  .tabs
    %ul
      %li
        %img{:alt => "", :src => "/images/connection.gif"}/
  .music_my_tracks
    - for follow in @follows do
      - opposite_user = follow.opposite_user_of(@user)
      .tracks_row
        .col07
          %img{:alt => "", :src => "/images/thumbnails/thumb22.jpg"}/
        .col08
          %strong= link_to opposite_user.name, opposite_user
        .col09
          - if @user.following?(opposite_user) && opposite_user.followin?(@user)
            %span Connected
          - elsif(@user.following?(opposite_user))
            %span== Follows #{opposite_user.name}
          - else
            %span== Followed by #{opposite_user.name}
        .col10
          %a{:href => "#"}
            = @user.following?(opposite_user) ? image_tag('icons/following.gif') : image_tag('icons/not_following.gif')
        .col11
          %a{:href => "#"}
            = @user.followed_by?(opposite_user) ? image_tag('icons/follows.gif') : image_tag('icons/not_following.gif')
#bottom_curve_main
%span.clear
