#left_container
  .profile
    %h3.cufon
      Profile
    .profilbillede
      %div
        .curve
      - if @user.picture?
        = image_tag(@user.picture.url(:profile)) 
      - else
        = image_tag('http://dummyimage.com/200x160/091417/fff.png&text=No+profile+picture')
      #whoisthis
        - if current_user == @user
          This is you
        - else
          - follow = Follow.for_users(current_user, @user).first
          - if follow.present?
            = follow.relationship_with_user(@user).titleize
            - if current_user.following?(@user)
              = link_to "Unfollow #{@user.name}", user_connection_path(:user_id => current_user.id, :id => @user.id), :method => :delete
          - else
            = link_to "Follow #{@user.name}", user_connections_path(:user_id => current_user.id, :id => @user.id), :method => :post

    %h3.cufon
      = @user.name
    %p
      %strong Web
      %span
        = link_to @user.website, "http://#{@user.website}"
      %strong Record Label
      %span= @user.record_label ? @user.record_label.name : '-'
      %strong Tracks
      %span= @user.songs.count
    %p= @user.description 
    .gallery
      %h4
        Connections
        %small= @connections_count
      %ul
        - for follow in @follows
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "/images/thumbnails/thumb01.jpg"}/
      %strong
        = link_to "View all", user_connections_path(@user)
#right_container
  .tabs
    %ul
      = user_tab('Latest', '')
      = user_tab(@user == current_user ? 'My Tracks' : 'Tracks', '')
      = user_tab('Upload', new_user_song_path(current_user)) if @user == current_user
  - for activity in @activities do
    = render_activity(activity)
