#join_popup_div
  %ul{:style => 'display:none'}
    %li
      %a{:href => '#step1'} Step 1
    %li
      %a{:href => '#step2'} Step 2
    %li
      %a{:href => '#step3'} Step 3
    %li
      %a{:href => '#login'} Login
  #signup_steps
    = form_for User.new, :html => { :multipart => true } do |f|
      #step1.join_popup
        .top_curve_join
        .join_repeat
          .content_join
            .close
              %h1 Join
              %small
                %a{:href => "#", :class => 'popup_close'}
                  %img{:alt => "", :src => "/images/icons/close.gif"}/
              %span.clear
              #left_180
                %img{:alt => "", :border => "0", :height => "160", :src => "/images/profile.png", :width => "160"}/
                %h2 Upload picture
                .uploadfield
                  %input{:name => "textfieldName", :size => "20", :style => "float: left;", :type => "text"}/
                %img.marginright_5px{:align => "left", :alt => "", :border => "0", :height => "23", :src => "/images/browse_btn.png", :width => "77"}/
                %img{:align => "left", :alt => "", :border => "0", :height => "23", :src => "/images/upload_btn.png", :width => "77"}/
              #right_200
                .inputfields
                  %label Name:
                  %input{:name => "textfieldName", :size => "19", :type => "text"}/
                .inputfields
                  %label Email:
                  %input{:name => "textfieldName", :size => "19", :type => "text"}/
                .inputfields
                  %label Password:
                  %input{:name => "textfieldName", :size => "19", :type => "text"}/
                .divider

                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                  %span.usertype Musician
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                  %span.usertype DJ
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                  %span.usertype Producer
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                  %span.usertype Wannabe
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                  %span.usertype Recordlabel
                .divider

                .inputfields
                  %input{:type => 'hidden', :name => 'record_label_id', :value => '', :id => 'record_label_id'}
                  %label#signed_at I&rsquo;m signed at
                  .select_bg
                    %span#flexbox_results Record Label
                    %small
                      %a#flex_button{:href => "javascript:void(0);"}
                    %div{:style => "display:block;"}
                      #deviceList.drop
                        .top_c_drop
                        .repeat
                          .repeat_x
                            %ul
                              - for record_label in RecordLabel.all do 
                                %li
                                  %a{:href => "javascript:void($('#record_label_id').attr('value', #{record_label.id}));;"} 
                                    = record_label.name
                        .bottom_c_drop
                
                %input.next_btn{:name => "", :id => 'step_1_next_button', :type => "button", :value => "", :width => '77', :align => 'right'}
            
              %span
                %a{:href => "#"} join
              %small
                %a{:href => "#", :class => 'popup_close'}
                  %img{:alt => "", :src => "/images/icons/close.gif"}/
              %input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token }
              %fieldset
                .left_sec
                  .pic
                    = image_tag('http://dummyimage.com/109x88/091417/fff.png&text=No+profile+picture')
                    %span
                      %a{:href => "#"} Upload picture
                      = f.file_field :picture
                .right_sec
                  .form_row
                    %label Name
                    .input_bg
                      %input{:name => "user[name]", :type => "text"}/
                  .form_row
                    %label E-mail
                    .input_bg
                      %input{:name => "user[email]", :type => "text"}/
                  .form_row
                    %label Password
                    .input_bg
                      %input{:name => "user[password]", :type => "password"}/
                  .check_sec
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                      %span Mucisian
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span DJ
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span Producer
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span Wannabee
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span Recordlabel
                    .form_row01
                      %input{:type => 'hidden', :name => 'record_label_id', :value => '', :id => 'record_label_id'}
                      %label I&rsquo;m signed at
                      .select_bg
                        %span#flexbox_results Record Label
                        %small
                          %a#flex_button{:href => "javascript:void(0);"}
                        %div{:style => "display:block;"}
                          #deviceList.drop
                            .top_c_drop
                            .repeat
                              .repeat_x
                                %ul
                                  - for record_label in RecordLabel.all do 
                                    %li
                                      %a{:href => "javascript:void($('#record_label_id').attr('value', #{record_label.id}));;"} 
                                        = record_label.name
                            .bottom_c_drop
                      %input.next_btn{:name => "", :id => 'step_1_next_button', :type => "button", :value => ""}/
        .bottom_curve_join
        %span.clear


      #step2.join_popup
        .top_curve_join
        .join_repeat
          .content_join
            .close
              %span
                %a{:href => "#"} join
              %small
                %a{:href => "#", :class => 'popup_close'}
                  %img{:alt => "", :src => "/images/icons/close.gif"}/
              %input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token }
              %fieldset
                .left_sec
                  .pic
                    = image_tag('http://dummyimage.com/109x88/091417/fff.png&text=No+profile+picture')
                  .notice
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span I would like to buy
                .right_sec
                  %h2
                    %strong Cheryl Cole
                  #payment_buttons
                    .select_bg
                      %span Go to Visa
                    .select_bg
                      %span Go to PayPal
                  %input.next_btn{:name => "", :type => "button", :value => "", :id => 'step_2_next_button'}/
                  %input.back_btn{:name => "", :type => "button", :value => "", :id => 'step_2_back_button'}/

        .bottom_curve_join
        %span.clear

      #step3.join_popup
        .top_curve_join
        .join_repeat
          .content_join
            .close
              %span
                %a{:href => "#"} join
              %small
                %a{:href => "#", :class => 'popup_close'}
                  %img{:alt => "", :src => "/images/icons/close.gif"}/
              %input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token }
              %fieldset
                .left_sec
                  .pic
                    = image_tag('http://dummyimage.com/109x88/091417/fff.png&text=No+profile+picture')
                  .notice
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span I would like to sell
                    
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span I accept that koblo.com takes 50%
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span I have the rights to all the material I publish
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span I will KODA myself

                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span Show my tracks on Facebook
                      %img{:src => "/images/facebook_32.png", :class => 'web20'}
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span Tweet my tracks on Twitter
                      %img{:src => "/images/twitter_32.png", :class => 'web20'}
                    .form_row01
                      %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                      %span Share my tracks on MySpace
                      %img{:src => "/images/myspace_32.png", :class => 'web20'}
                .right_sec
                  %h2
                    %strong Cheryl Cole
                  %input.finish_btn{:name => "", :type => "submit", :value => ""}/
                  %input.back_btn{:name => "", :type => "button", :value => "", :id => 'step_3_back_button'}/

        .bottom_curve_join
        %span.clear

  #login.join_popup
    .top_curve_join
    .join_repeat
      .content_join
        .close
          %h1 Login
          %small
            %a{:href => "#", :class => 'popup_close'}
              %img{:alt => "", :src => "/images/icons/close.gif"}/
          %span.clear
          #right_200
            %form{:action => user_session_path, :method => 'post', :id => 'login_form'}
              %input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token }
              .inputfields
                %label Email:
                %input{:name => "user[email]", :size => "14", :type => "text"}/
              .inputfields
                %label Password:
                %input{:name => "user[password]", :size => "14", :type => "password"}/
              .inputfields
                %img.floatleft.popup_close{:alt => "", :border => "0", :height => "23", :src => "/images/cancel_btn.png", :width => "77"}/
                %input.floatright#login_btn{:type => 'image', :alt => "", :border => "0", :height => "23", :src => "/images/login_btn.png", :width => "77"}/
              .inputfields
                %input.nofloat{:name => "checkboxName", :type => "checkbox", :value => "checkboxValue"}/
                %label.nofloat Remember me
            .divider
            .inputfields
              Not registered?
              = link_to 'Sign up', new_user_registration_path, :id => 'sign_up_link'
              %p
                = link_to 'Forgot password?', new_user_password_path
    .bottom_curve_join
    %span.clear
