#join_popup_div
  %ul{:style => 'display:none'}
    %li
      %a{:href => '#step1'} Step 1
    %li
      %a{:href => '#step2'} Step 2
    %li
      %a{:href => '#step3'} Step 3
    %li
      %a{:href => '#login'} Login
  #signup_steps
    = form_for((@user && @user.new_record? && @user) || User.new, :html => { :multipart => true }) do |f|
      - heading = @user ? 'Edit' : 'Join'
      - profile_picture = @user && @user.picture? ? @user.picture.url(:profile) : '/images/profile.png'
      #step1.join_popup
        .top_curve_join
        .join_repeat
          .content_join
            .close
              %h1= heading
              %small
                %a{:href => "#", :class => 'popup_close'}
                  %img{:alt => "", :src => "/images/icons/close.gif"}/
              %span.clear
              #left_180
                %img{:alt => "", :border => "0", :height => "160", :src => "#{profile_picture}", :width => "160", :class => 'profile_picture'}/
                %h2 Upload picture
                = f.file_field :picture
                
                = f.error_messages
              
              #right_200
                .inputfields
                  %label Name:
                  = f.text_field :name, :size => 19
                .inputfields
                  %label Email:
                  = f.text_field :email, :size => 19
                .inputfields
                  %label Password:
                  = f.password_field :password, :size => 19
                .divider

                = f.hidden_field :user_type_id
                - for user_type in UserType.all do
                  .checkfields
                    - if @user && @user.user_type == user_type
                      %img.check_box.user_type_check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif", :id => user_type.id}/
                    - else
                      %img.check_box.user_type_check_box{:alt => "", :src => "/images/icons/check_box.gif", :id => user_type.id}/
                    %span.usertype= user_type.name
                .divider

                .inputfields
                  = f.hidden_field :record_label_id
                  %label#signed_at I&rsquo;m signed at
                  .select_bg
                    - if @user && @user.record_label
                      %span#flexbox_results= @user.record_label.name
                    - else
                      %span#flexbox_results Record Label
                    %small
                      %a#flex_button{:href => "javascript:void(0);"}
                    %div{:style => "display:block;"}
                      #deviceList.drop
                        .top_c_drop
                        .repeat
                          .repeat_x
                            %ul
                              - for record_label in RecordLabel.all do 
                                %li
                                  %a{:href => "javascript:void($('#user_record_label_id').attr('value', #{record_label.id}));;"} 
                                    = record_label.name
                        .bottom_c_drop
                
                %input.next_btn{:name => "", :id => 'step_1_next_button', :type => "button", :value => "", :width => '77', :align => 'right'}
            
        .bottom_curve_join
        %span.clear


      #step2.join_popup
        .top_curve_join
        .join_repeat
          .content_join
            .close
              %h1= heading
              %small
                %a{:href => "#", :class => 'popup_close'}
                  %img{:alt => "", :src => "/images/icons/close.gif"}/
              %span.clear
              #left_180
                %img{:alt => "", :border => "0", :height => "160", :src => "#{profile_picture}", :width => "160", :class => 'profile_picture'}/
                %h2 Want to buy tracks?
                .uploadfield
                  %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                  %span.usertype Yes, I want to buy
                %h2 Choose payment method
                .checkfields2
                  %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                  %span.usertype PayPal 
                %span.clear
                .checkfields2
                  %img.check_box{:alt => "", :src => "/images/icons/check_box.gif"}/
                  %span.usertype Visa/MasterCard
              #right_200
                .inputfields
                  %h3.user_name
                .inputfields
                  %label About me:
                .inputfields
                  = f.text_area :description, :cols => 25, :rows => 5
                .divider
                .inputfields
                  %label Website:
                  = f.text_field :website, :size => 19
                .divider
                .next
                  %input.next_btn{:name => "", :type => "button", :value => "", :id => 'step_2_next_button'}/
                  %input.back_btn{:name => "", :type => "button", :value => "", :id => 'step_2_back_button'}/
            
        .bottom_curve_join
        %span.clear

      #step3.join_popup
        .top_curve_join
        .join_repeat
          .content_join
            .close
              %h1= heading
              %small
                %a{:href => "#", :class => 'popup_close'}
                  %img{:alt => "", :src => "/images/icons/close.gif"}/
              %span.clear
              #left_180
                %img{:alt => "", :border => "0", :height => "160", :src => "#{profile_picture}", :width => "160", :class => 'profile_picture'}/
              #right_200
                .inputfields
                  %h2 Selling tracks
                .divider
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                  %span.usertype I would like to sell
                %span.clear
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                  %span.usertype I accept that koblo.com takes 50%
                %span.clear
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                  %span.usertype I have the rights to all the material I publish
                %span.clear
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                  %span.usertype I will KODA myself
                %span.clear
                .inputfields
                  %h2 Social Media
                .divider
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                  %span.usertype Show my tracks on Facebook
                  %img{:class => 'social_icon', :align => "right", :alt => "", :border => "0", :height => "18", :src => "/images/facebook_32.png", :width => "18"}/
                %span.clear
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                  %span.usertype Tweet my tracks on Twitter
                  %img{:class => 'social_icon', :align => "right", :alt => "", :border => "0", :height => "18", :src => "/images/twitter_32.png", :width => "18"}/
                %span.clear
                .checkfields
                  %img.check_box{:alt => "", :src => "/images/icons/check_box_arrow.gif"}/
                  %span.usertype Share my tracks on MySpace
                  %img{:class => 'social_icon', :align => "right", :alt => "", :border => "0", :height => "18", :src => "/images/myspace_32.png", :width => "18"}/
                %span.clear
                %input.finish_btn{:name => "", :type => "submit", :value => ""}/
                %input.back_btn{:name => "", :type => "button", :value => "", :id => 'step_3_back_button'}/

        .bottom_curve_join
        %span.clear

  #login.join_popup
    .top_curve_join
    .join_repeat
      .content_join
        .close
          %h1 Login
          %small
            %a{:href => "#", :class => 'popup_close'}
              %img{:alt => "", :src => "/images/icons/close.gif"}/
          %span.clear
          #right_200
            %form{:action => user_session_path, :method => 'post', :id => 'login_form'}
              %input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token }
              .inputfields
                %label Email:
                %input{:name => "user[email]", :size => "14", :type => "text"}/
              .inputfields
                %label Password:
                %input{:name => "user[password]", :size => "14", :type => "password"}/
              .inputfields
                %img.floatleft.popup_close{:alt => "", :border => "0", :height => "23", :src => "/images/cancel_btn.png", :width => "77"}/
                %input.floatright#login_btn{:type => 'image', :alt => "", :border => "0", :height => "23", :src => "/images/login_btn.png", :width => "77"}/
              .inputfields
                %input.nofloat{:name => "checkboxName", :type => "checkbox", :value => "checkboxValue"}/
                %label.nofloat Remember me
            .divider
            .inputfields
              Not registered?
              = link_to 'Sign up', new_user_registration_path, :id => 'sign_up_link'
              %p
                = link_to 'Forgot password?', new_user_password_path
    .bottom_curve_join
    %span.clear

- content_for :document_ready do
  - session_key_name = '_koblo2_session'
  $('#user_picture').uploadify({
  uploader      : '/javascripts/uploadify/uploadify.swf',
  script        : '#{pictures_path}',
  fileDataName  : $('#user_picture').name, 
  buttonImg     : '/images/upload_btn.png',
  wmode         : 'transparent',
  fileDataName  : 'picture[picture]',
  auto          : true,
  multi         : false,
  cancelImg     : '/images/cancel.png',
  onProgress    : function(event, queueID, fileObj, data) { return false },
  onComplete    : function(event, queueID, fileObj, response, data) { eval(response); return false },
  scriptData    : {
  'format': 'js', 
  '#{session_key_name}' : encodeURIComponent('#{u cookies[session_key_name]}'),
  'authenticity_token'  : encodeURIComponent('#{u form_authenticity_token}') 
  },
  });
