#left_container
  .profile
    %h3.cufon
      Profile
    .profilbillede
      %div
        .curve
        = image_tag(@user.picture.url(:profile))
      = render :partial => 'users/who_is_this' if user_signed_in?

    %h3.cufon
      = @user.name
    %p
      %strong Web
      %span
        = link_to @user.website, "http://#{@user.website}"
      %strong Record Label
      %span= @user.record_label ? link_to(@user.record_label.name, users_path(:record_label_id => @user.record_label)) : '-'
      %strong Tracks
      %span= link_to(@user.songs.count, songs_path(:user_id => @user))
    %p= @user.description 
    .gallery
      %h4
        Connections
        %small= link_to(@connections_count, user_connections_path(@user))
      %ul
        - for follow in @follows
          %li
            - opposite_user = follow.opposite_user_of(@user)
            - if opposite_user.picture?  
              = link_to image_tag(opposite_user.picture.url(:thumb)), opposite_user
            - else
              = link_to image_tag('http://dummyimage.com/48x48/091417/fff.png&text=No+profile+picture'), opposite_user
    %p 
      %strong
        =link_to "Edit profile", '#', :id => 'edit_profile' if @user == current_user

