#left_container
  .profile
    %h3.cufon
      Profile
    .profilbillede
      %div
        .curve
      - if @user.picture? 
        = image_tag(@user.picture.url(:profile))
      - else
        = image_tag('http://dummyimage.com/200x160/091417/fff.png&text=No+profile+picture')
      = render :partial => 'users/who_is_this' if user_signed_in?

    %h3.cufon
      = @user.name
    %p
      %strong Web
      %span
        = link_to @user.website, "http://#{@user.website}"
      %strong Record Label
      %span= @user.record_label ? @user.record_label.name : '-'
      %strong Tracks
      %span= @user.songs.count
    %p= @user.description 
    .gallery
      %h4
        Connections
        %small= @connections_count
      %ul
        - for follow in @follows
          %li
            - opposite_user = follow.opposite_user_of(@user)
            - if opposite_user.picture?  
              = link_to image_tag(opposite_user.picture.url(:thumb)), opposite_user
            - else
              = link_to image_tag('http://dummyimage.com/48x48/091417/fff.png&text=No+profile+picture'), opposite_user
      %strong
        = "Edit profile" if @user == current_user

