- content_for :sub_content do
  - if @artists
    .search_result_header
      %strong.cufon Matching Artists

    #connections_list
      - if @artists.blank?
        .music_my_tracks
          .tracks_row
            There are no matching artists.
      - else
        .music_my_tracks
          - for artist in @artists do  
            .tracks_row
              .col07
                - if artist.picture?  
                  = image_tag(artist.picture.url(:thumb_bw), :class => :thumb_pic_bw)
                  = image_tag(artist.picture.url(:thumb), :class => :thumb_pic)
                - else
                  = image_tag('http://dummyimage.com/48x48/091417/fff.png&text=No+profile+picture')
              .col08
                %strong= link_to artist.name, artist


  - if params[:q].present?
    .search_result_header#matching_songs
      %strong.cufon Matching Songs
  - if @songs.present?
    #flashDiv
  - else
    .music_my_tracks
      .tracks_row
        There are no matching songs.
  - if @songs.present?
    .music_my_tracks
      .paging
        %ul
          %li.btn
            %a{:href => url_for(:page => 1)} First

          = will_paginate @songs, :inner_window => 2, :container => false, :previous_label => 'Previous', :next_label => 'Next', :renderer => PaginationListLinkRenderer
          
          %li.btn
            %a{:href => url_for(:page => @songs.total_pages)} Last

    - content_for :javascript_includes do
      - uri  = request.protocol
      - uri += request.host_with_port
      - uri += request.request_uri
      - unless uri =~ /\?/
        - uri += '?format=xml' 
      - else
        - uri += '%26format=xml'
      :javascript
        var flashvars = {};
        flashvars.url = "#{uri}";
        var params = {};
        params.menu = "false";
        params.scale = "noscale";
        var attributes = {};
        swfobject.embedSWF("#{swf_path('/MiniStudio.swf')}", "flashDiv", "750", "580", "10.0.0", "expressInstall.swf", flashvars, params, attributes);
