- content_for :sub_content do
  - form_for(Song.new, :url => user_songs_path, :html => {:multipart => true}) do |form|
    .title
      %label Song title
      = form.text_field(:title, :class => 'floatright', :size => 33)

    .category
      %label Category
      = form.collection_select(:category_id, Category.all, :id, :name, {:prompt => true})
    .divider
    .tracks
      -#.progress_wrap
        .progress_value
          .progress_text
            Hit me
    .addtrack
    .divider

    .copyrights
      .radio
        %input{:checked => "checked", :name => "checkboxname", :type => "checkbox", :value => "checkboxValue"}/
        %label I am the original artist behind this track
      .checkbox
        %input{:checked => "checked", :name => "checkboxName", :type => "checkbox", :value => "checkboxValue"}/
        %label I accept that Koblo.com takes 50%
      .checkbox
        %input{:checked => "checked", :name => "checkboxName", :type => "checkbox", :value => "checkboxValue"}/
        %label I have the rights to this track
      .checkbox
        %input{:checked => "checked", :name => "checkboxName", :type => "checkbox", :value => "checkboxValue"}/
        %label I will pay KODA myself
    .divider

    .price
      %h1 Price
      .valuta
        %select{:name => "selectName", :size => "1"}
          %option EUR
          %option USD
          %option DKK
      .type
        %label Multitrack
        %input.floatright{:name => "textfieldName", :size => "1", :type => "text", :value => "5.00"}/
      .type
        %label Mp3
        %input.floatright{:name => "textfieldName", :size => "1", :type => "text", :value => "2.00"}/
      .type
        %label Ringtone
        %input.floatright{:name => "textfieldName", :size => "1", :type => "text", :value => "1.00"}/
    .divider
    .socialmedia
      .checkbox
        %input{:checked => "checked", :name => "checkboxName", :type => "checkbox", :value => "checkboxValue"}/
        %label
          Show track on 
          = link_to 'Facebook', image_path('FaceBook.jpg'), :target => '_blank'
      .checkbox
        %input{:checked => "checked", :name => "checkboxName", :type => "checkbox", :value => "checkboxValue"}/
        %label Twit track on Twitter
      .checkbox
        %input{:checked => "checked", :name => "checkboxName", :type => "checkbox", :value => "checkboxValue"}/
        %label Share track on Myspace
    .divider
    .finish
      %input{:alt => "", :src => "/images/finish_btn.png", :type => "image"}/
    %div{:style => "clear: left;"}

  - semantic_form_for(Track.new, :url => user_tracks_path, :html => {:multipart => true}) do |form|
    - form.inputs do
      = form.input :uploaded_data, :as => :file
      = form.buttons
  
  - content_for :document_ready do
    function onSelect(event, queueID, fileObj) {
    $(".tracks").append('<div id="' + queueID + '" class="progress_wrap"><div class="progress_value"><div class="progress_text">In upload queue...</div></div></div>');
    $("#" + queueID).fadeIn(); 
    return false; 
    };

    function onProgress(name, queueID, fileObj, data) { 
    $("#" + queueID + " .progress_text").html(data['percentage'] + '%'); 
    $("#" + queueID + " .progress_value").width(data['percentage'] + '%'); 
    return false; 
    };

    function onComplete(event, queueID, fileObj, response, data) { 
    $("#" + queueID + " .progress_text").html("Processing..."); 
    eval(response); 
    $("#" + queueID).before(trackHtml);
    $("#" + queueID).replaceWith('<div class="queue_placeholder"/>'); 
    return false
    };

    $('#track_submit').hide();
    - session_key_name = '_koblo2_session' # request.session_options[:key]
    $('#track_uploaded_data_input').uploadify({
    uploader      : '/javascripts/uploadify/uploadify.swf',
    script        : '#{user_tracks_path}',
    fileDataName  : $('#track_uploaded_data_input input:file')[0].name, 
    buttonImg     : '/images/add_track_btn.png',
    wmode         : 'transparent',
    auto          : true,
    multi         : true,
    simUploadLimit : 1,
    fileExt       : '*.mp3;*.wav;*.aac;*.wma',
    fileDesc      : 'Audio Files',
    cancelImg     : '/images/cancel.png',
    onSelect      : onSelect,
    onProgress    : onProgress,
    onComplete    : onComplete, 
    scriptData    : {
    'format': 'js', 
    '#{session_key_name}' : encodeURIComponent('#{u cookies[session_key_name]}'),
    'authenticity_token'  : encodeURIComponent('#{u form_authenticity_token}') 
    },
    });

  -# #song_upload
    - semantic_form_for(Song.new, :url => user_songs_path, :html => {:multipart => true}) do |form|
      - form.inputs do
        = form.input :title, :label => 'Song Title'
        = form.input :category
        = form.inputs :title, :for => :tracks, :name => 'Track Title'
        = form.buttons :id => 'new_song_button'


