!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title Koblo
    = stylesheet_link_tag('layout')
    /[if IE] <link rel="stylesheet" type="text/css" href="stylesheets/ie.css">

    = javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.1.custom.min', 'uploadify/swfobject', 'uploadify/jquery.uploadify.v2.1.0.min', 'cufon-yui', 'VAGRoundedBlackSSK_700.font', 'rails', 'dropdown', 'application', :cache => true 
    = javascript_include_tag 'http://cdn.gigya.com/JS/socialize.js?apikey=2_Y82PzwJ_chSFImHXaIDJClnLyJzmk-VFOavSsaNTzl6m901s_NNxRAS0xJ3bd3_N'
    = yield :javascript_includes
    = csrf_meta_tag
    :javascript
      Cufon.replace('.cufon');
  %body{:id => @controller_name, :class => @action_name}
    #outer_layout
      #layout
        #header
          = link_to image_tag('logo.png'), root_path(:redirect => 0)
          .right_sec
            %ul
              %li
                - if user_signed_in?
                  = link_to "Log out", destroy_user_session_path
                - else
                  %a{:href => "login.html", :id => 'login_link'} Login
              - if user_signed_in?
                %li
                  = link_to "My profile (#{current_user.name})", user_path(current_user)
              %li
                |
              %li
                %a{:href => "/pages/help"} Help
              %li
                %a{:href => "/pages/terms"} Terms
              %li
                %a{:href => "/pages/who"} Who
              %li
                %a{:href => '/pages/why'} Why
            %form{:action => songs_path}
              %fieldset
                - unless user_signed_in?
                  %span
                    %a{:href => "#", :id => 'join_link'}
                      %img{:alt => "", :src => "/images/join.gif"}/
                %input.search{:name => "", :type => "submit", :value => ""}/
                .input_bg
                  %input{:name => "q", :type => "text"}/
        #main
          #main_top
            - if controller.class == PagesController
              = yield
            - else
              #banner_area
                %img{:alt => "", :src => "/images/banner01.jpg"}/
              #body_container
                #top_curve_main
                  = yield :content
              #bottom_curve_main
              %span.clear
          = render :partial => 'shared/join'
                
        #main_bottom
        %span.clear

    :javascript
      Cufon.now();

      $(document).ready(function() {
        #{yield :document_ready}
      });
