- content_for :content do
  = render :partial => '/shared/user_sidebar'
  #right_container
    .tabs
      %ul
        = user_tab('Latest', user_activities_path(@user))
        = user_tab(@user == current_user ? 'My Tracks' : 'Tracks', songs_path(:user_id => @user))
        = user_tab('Upload', new_user_song_path(current_user)) if @user == current_user
        = user_tab('Connections', user_connections_path(@user))
        = user_tab('Stuff I bought', user_purchased_songs_path(@user)) if @user == current_user
    = yield :sub_content
= render :file => 'layouts/application'
